*.log
.htaccess
./node_modules
./wp-content/themes/*/bower_components
./wp-content/themes/*/dist
./wp-content/themes/*/tmp

readme.html
wp-content/themes/*/main.css
wp-content/themes/*/main.js
wp-content/themes/*/main.js.map
wp-content/themes/*/dist
wp-content/themes/*/tmp
wp-content/themes/*/res/public/*
node_modules
wp-content/themes/*/bower_components
project.ini
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
